.menu{
    width: 1182px;
    height: 72px;
    flex-shrink: 0;
    background: #7EB5C7;
}
.menu-texto{
    color: #000;
    font-size: 34.4px;
    font-family: Inter;
}
.cabecalho{
    width: 1182px;
    height: 184px;
    flex-shrink: 0;
    background: #7EB5C7;
}
.cabecalho-texto{
    display: flex;
    width: 719.672px;
    height: 138.191px;
    transform: rotate(0.379deg);
    flex-direction: column;
    flex-shrink: 0;
}

.corpo{
    width: 1182px;
height: 630px;
flex-shrink: 0;
background: linear-gradient(180deg, #7EB5C7 72.92%, rgba(18, 205, 171, 0.00) 100%);
}

.corpo-img{
    width: 242px;
height: 170px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 272px;
height: 172px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 266px;
height: 170px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 250px;
height: 140px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 272px;
height: 157px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

width: 266px;
height: 148px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.rodapé{
    width: 1182px;
height: 138px;
flex-shrink: 0;
background: linear-gradient(360deg, rgba(141, 198, 184, 0.40) 32.81%, rgba(141, 198, 184, 0.00) 100%);
}

.rodapé-texto{
    display: flex;
width: 384.901px;
height: 128px;
flex-direction: column;
flex-shrink: 0;
color: #000;
font-size: 23.678px;
font-family: Inter;

color: #000;
font-size: 23.678px;
font-family: Inter;
}