.cabec {
    background-color: rgb(15, 201, 176);
    color: black;
    display: flex;
    justify-content: space-around;
}

.cabec-imagem{
    width: 20%;
}

.cabec-lista-item{
    display: inline-block;
}