*{
    margin: 0;
    padding: 0;
}

.cabec {
    background-color: rgb(15, 201, 176);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabec-imagem{
    width: 20%;
}

.cabec-lista-item{
    display: inline-block;
    margin: 0 16px;
}